<!DOCTYPE html>
<html lang="ko">
    <!--
    클라이언트 눈에 보이는 <> 태그 코드는 <body> 태그 내부에 작성
    클라이언트 눈에 직접적으로 보이지는 않지만 .html 파일을 꾸며줄 때 사용하는 모든 태그는 head 태그 내부에 작성
    -->
<head>
    <meta charset="UTF-8"><!--body태그 내부에 작성한 한글깨짐 방지-->
    <!-- width = 디바이스(모바일,데스크톱, 태블릿 등) 가로 기준 100% 표준에 맞게 화면 보여주기 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 탭 제목 -->
    <title>소식지</title>
    <!-- html 언어에서 외부파일을 가져와 사용하는 방법
     link나 어떤 링크를 참조해서 나의 html 파일에 적용하겠다.
     참조하는 것은 stylesheet이고,
     href="" 가져오는 곳은 여기야
             가져오는 주소 메인폴더위치 파일이름           그 폴더 안에서 폴더를 타거나 안 타도 되는데 폴더 내에 위치한 특정 .css 파일을 가져오겠다
     (__name__으로 초반에 app.py에서 찾아놓은 폴더이름,filename='css/공통스타일.css'

     static/css/ -> app.py위치에서 본 적이 없음
                                              static만 가능  static 내 모든 파일 ok
     'static /css/',filename='공통스타일.css'


     아래와 같은 형태만 가능
     'static',filename='css/공통스타일.css'
    -->
        <link rel="stylesheet" href="{{url_for('static',filename='css/공통스타일.css')}}">


</head>
   
<body>
    <h1><a href="/">내 Flask 블로그</a></h1>
    <!-- 
    nav = 내비게이션의 줄임말
          클라이언트가 어디를 클릭했을 때 어디로 가야하는지 안내도
          네비게이션 
                    A태그 주소 /A태그
                    A태그 주소 /A태그
                    A태그 주소 /A태그
                    A태그 주소 /A태그
          / 네비게이션
     -->
    <nav>
        <a href="/">home</a>
        <!--
        @app.route("/about")
        python 시작하는 app.py에
        @app.route("/about") 주소를 작성해놓았으며
             about() 이라는 기능을 수행할 때는
        def about():       about.html 화면을 보여주거라
            return render_template("about.html")

            개발자가 초기에 접속해야하는 주소 명칭과
            접속했을 때 클라이언트에게 보여져야 하는 화면을 연결해두었기 때문에

            / 로 되어잇는 a 태그를 클릭하면 index.html 메인 페이지로 이동

            /about 되어잇는 a 태그를 클릭하면 about.html 화면이 보여지게 되는 것

        <a href="이동하고자 하는 주소"> 클라이언트에게_클릭했을때_어디로 이동하게 되는지 유추할 수 있는 제목 작성
        </a> -> 제목 작성 끝났다 닫는 태그
        -->
        <a href="/about">About</a>
        <a href="/image">Image</a>
        
    </nav>
    <p>나의 블로그 입니다.</p>
    <h2>블로그 방문자 명단</h2>
    <h3>방문자 목록:</h3>
    <!--
    python의 경우          : 를 이용해서 for문 기능을 시작하겠다 표기
    for 변수이름 in 데이터들:
        print(변수이름)
    한 칸 들여쓰기를 이용해서 어디에서부터 어디까지 for문의 기능이다 라는 규칙 존재

    html에서는 어디서부터 어디까지가 for문을 시작할 것이고 종료할 것이다 규칙 지정 없음
    { % for 변수이름 in 데이터들 % } 
        for문으로 반복하여 보여줄 데이터들이나 태그들 작성
    { % endfor % } -> 여기까지가 for 순회지점이다.

                 visitors=["김철수","이영희","박민수","최지원","정다은"]
           vv에서는 김철수에서 정다은까지 순차적으로 <h4>내부에서 데이터를 보여주는 반복을 진행
    { % for vv in visitors % }
    주석문에서 { % % } 붙여써버리면 주석문에서의 for문이 인식되어서 에러가 난다
    -->
    {% for 방문자 in visitors %}
    <h4>{{방문자}}</h4>
    {% endfor %}

    <h3>방문 통계</h3>
    <!--
                    visitor_info = [
                        {"name":"김철수", "count":15}, # 0번째 목록에 존재하는 방문자
                        {"name":"이영희", "count":23}, # 1번째 목록에 존재하는 방문자
                        {"name":"박민수", "count":8},  # 2번째 목록에 존재하는 방문자
                        {"name":"최지원", "count":31}, # 3번째 목록에 존재하는 방문자
                        {"name":"정다은", "count":12}, # 4번째 목록에 존재하는 방문자
                        ]
    -->
    {% for 방문자정보 in visitor_info %}
     <!-- 방문자 정보에는 name:"이름", count:숫자횟수-->
    <span>{{방문자정보.name}}</span>
    <!--방문자 정보에 들어있는 데이터 중에서 어떤 데이터를 보여줄지 데이터에 작성되어있는 키 명칭 작성-->
    <span>방문횟수 : {{방문자정보.count}}회</span>
    <!-- 방문자정보                .                   count
                       안에 있는 데이터 중에서          방문숫자가 들어있는 데이터를 사용할 것이다
    방문자정보에는 name:"김철수", count:15 존재


    -->
    <br>
    {% endfor %}

    <!--
    <h3>1번과일 : {{a}}</h3>
    <h3>2번과일 : {{b}}</h3>
    <h3>3번과일 : {{c}}</h3>
    <h3>4번과일 : {{d}}</h3>
    -->
    <!-- for문으로 순회하여 fruits 안에 있는 모든 데이터를 f 변수 명칭을 이용해서 하나씩 사용-->
    <!--
    @app.route("/about")       
    def about():
        과일들 = ['참외','바나나','포도','사과']
        return render_template("about.html", fruits=과일들)
    fruits에 존재하는 모든 과일 처음부터 끝까지 순회할 때 endfor 이전 데이터들 또한 같이 반복
    html 태그 내부에 파이썬 코드가 작성되어있지 않더라도 순회대상
    주의할 점
    for 앞뒤 공백은 1칸 2칸 이상 사용하면 에러 발생
    -->

    <!-- for문은 여기까지만 반복할 것. for문이 html 내에서 어디서부터 어디까지 순회해야 하는지 구간 설정-->

     {% for 외부링크 in 외부링크리스트 %}
     <a href='{{외부링크.주소}}'>{{외부링크.도메인이름}}</a>
     {% endfor %}

</body>
</html>